[
  {mnesia, [
    %% RAM copies only for the prototype.
    %% To enable persistence, change to {dir, "data/mnesia"} and use disc_copies.
    {dir, "/tmp/ironledger_mnesia"}
  ]},

  {cb_integration, [
    {http_port, 8081},
    {http_acceptors, 10},
    {enable_dev_tools, true}
  ]},

  {cb_auth, [
    {bootstrap_users, [
      {"admin@example.com", "secret-pass", admin}
    ]}
  ]},

  {kernel, [
    {logger_level, info}
  ]}
].
